:root {
    --color-accent: #320078;
    --color-accent-transparent: rgba(6, 41, 46, 0.3);
    --color-bg: #1C2128;
    --color-bg-secondary: #282F39;
    --color-link: #A4D4AA;
    --color-secondary: #64FFAB;
    --color-secondary-accent: #00DF66;
    --color-shadow: #000000;
    --color-table: #6B03FF;
    --color-text: #ebebeb;
    --color-text-secondary: #E8EDBF;
    --color-text-tertiary: #41ACA7;
    --color-scrollbar: #587B82;
    --font-family: 'JetBrains Mono';
    --hover-brightness: 2;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    src: local(''),
    url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
    background-color: var(--color-bg);
    background-image: linear-gradient(160deg, var(--color-bg-secondary) 0%, var(--color-bg) 35%);
    background-attachment: fixed;
}

nav a img {

    border-style: outset;
    border-color: var(--color-scrollbar);
    border-width: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

code,
samp {
    background-color: var(--color-accent-transparent);
    font-family: var(--font-family);
}

blockquote,
blockquote p {
    display: block;
    font-size: medium;
    line-height: var(--line-height);
    text-align: var(--justify-normal);
    border-right: none;
    border-left: 0.25rem solid var(--color-accent);
    padding: 0 0 0 1rem;
    margin-left: 0;
    max-width: 100%;
}

blockquote p {
    border-left: none;
}

blockquote footer {
    color: var(--color-text);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
    word-break: break-word;
}

* {
    scrollbar-width: auto;
}

nav {
    margin-bottom: 1rem;
}

p img,
pre,
pre code,
pre samp {
    max-width: 100%;
}

table td[align],
table th[align] {
    text-align: left !important;
}

table td[align="center"],
table th[align="center"] {
    text-align: center !important;
}

table td[align="right"],
table th[align="right"] {
    text-align: right !important;
}

hr {
    background-color: var(--color-scrollbar);
}

h1 {
    color: var(--color-text-secondary);
}

h2 {
    color: var(--color-text-tertiary);
}

small {
    color: var(--color-scrollbar);
}

.publications h1 {

}


